doctype html
html
    head
        title= title
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        base(href="/")
        link(rel='stylesheet', href='/css/typescript-boilerplate.css')
        script(src='/components/modernizr/modernizr.js')

    body
        block content

        script(src='/components/requirejs/require.js', data-main='/js/main')

